.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #363636;
    height: 8vh;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}